# This file contains the environment variables that are used by the application.

AZURE_OPENAI_ENDPOINT= "<your-azure-openai-endpoint>"
AZURE_OPENAI_API_KEY= "<your-azure-openai-api-key>"
AZURE_OPENAI_API_VERSION = "2024-10-01-preview"
AZURE_OPENAI_EMBEDDINGS_ADA_DEPLOYMENT_NAME = "text-embedding-ada-002"
AZURE_OPENAI_GPT4_DEPLOYMENT_NAME = "gpt-4"
AZURE_OPENAI_GPT4o_DEPLOYMENT_NAME = "gpt-4o"


AZURE_SEARCH_SERVICE_ENDPOINT="<your-azure-search-service-endpoint>"
AZURE_SEARCH_ADMIN_KEY="<your-azure-search-admin-key>"
AZURE_SEARCH_INDEX="books4"
BLOB_CONNECTION_STRING="<your-blob-connection-string>"
BLOB_CONTAINER_NAME="<your-blob-container-name>"

AZURE_SUBSCRIPTION_ID = "<your-azure-subscription-id>"
AZURE_AISTUDIO_PROJECT_RESOURCE_GROUP = "<your-azure-aistudio-project-resource-group>"
AZURE_AISTUDIO_PROJECT_NAME = "<your-azure-aistudio-project-name>"

# Connection string of Azure Application Insights for Open Telemetry Tracing 
APPLICATIONINSIGHTS_CONNECTION_STRING = "<your-application-insights-connection-string>"
SEMANTICKERNEL_EXPERIMENTAL_GENAI_ENABLE_OTEL_DIAGNOSTICS=true
SEMANTICKERNEL_EXPERIMENTAL_GENAI_ENABLE_OTEL_DIAGNOSTICS_SENSITIVE=true
